<div class="<%= css_class if local_assigns[:css_class] %>">
  <div class="col-1-3" style="text-align:center"><h1>Catalin Constantin Mititiuc</h1></div>
  <div class="col-1-3" style="text-align:center"><h2><%= link_to 'Resume', '/ResumeCatalinMititiuc.pdf' %></h2></div>
  <div class="col-1-3" style="text-align:center">
    <h2>
      <%= link_to 'Catalin.Mititiuc@gmail.com', 'mailto:Catalin.Mititiuc@gmail.com' %>
      <%= link_to comments_path do %>
        <div class="secret-link" style="min-height: 10px; width: 10px;"></div>
      <% end %>
    </h2>
  </div>
</div>
